.main {
  margin-top: 50px;
}
.weather-panel {
  background-image: url("https://images.unsplash.com/photo-1610016302534-6f67f1c968d8?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  border-radius: 20px;
  box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.33);
  color: #fff;
  overflow: hidden;
  position: relative;

  small {
    color: inherit;
    font-size: 50%;
  }
  ul.forecast > li {
    border-top: 1px solid #fff;
  }
  .temperature {
    & > span {
      font-size: 2em;
    }
  }
}

.carousel-container2 {
  width: 100%;
  padding-block: 16px 32px;

  overflow-x: auto;

  width: 100%;
  gap: 8px;
  align-items: center;
  scroll-snap-type: x mandatory;
}

.carousel-slide2 {
  flex: 1 0 30%;
  scroll-snap-align: center;
}

.carousel-container2::-webkit-scrollbar {
  height: 14px;
  width: calc(100% - 48px);
}

.carousel-container2::-webkit-scrollbar-track {
  background: none;
}

.carousel-container2::-webkit-scrollbar-thumb {
  background: none;
}

.carousel-container2::-webkit-scrollbar-track-piece:start {
  background: none;
}

.wind {
  width: 250px;
}

.wind1 {
  width: 65%;
}

.wind2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.wind p:nth-child(2) {
  border-bottom: 1px solid black;
}

.bordo {
  border: 1px solid black;
  border-radius: 10px;
  width: 200px !important;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bordo p {
  margin: 0;
}

.secondo {
  font-weight: bold;
  font-size: 25px;
}

.rettangolo {
  border: 1px solid black;
  border-radius: 10px;
  width: 270px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  display: none;
}

.loader-container {
  width: 30%;
  height: 50%;
  position: relative;
}
